<div class="flex h-screen items-center justify-center flex-wrap">
    <div class="w-full md:w-2/4 text-center md:text-right">
        <img src="/assets/imgs/404.svg"
             alt="404" class="max-w-full max-h-full">
    </div>
    <div class="w-full md:w-2/4 md:pl-20 text-center md:text-left">
        <h1 class="text-8xl text-gray-600">404</h1>
        <p class="text-xl text-gray-400">Sorry, the page you visited does not exist</p>
        <a nz-button nzType="primary" routerLink="/">Back to Home</a>
    </div>
</div>
