.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.admin-login-screen-overlay {
  background-image: url('/assets/imgs/admin-login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
}
